<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Express Pizza Homepage</title>
</head>
<body>
  <h1>Welcome to Express Pizza</h1>
  <h2>Specialty Pizzas</h2>
  <ul>
    <li><a href="/specialty-pizzas?name=Anchovy+Lover%27s&price=15">Anchovy Lover's</a></li>
    <li><a href="/specialty-pizzas?name=Paleo+Pizza&price=10">Paleo Pizza</a></li>
    <li><a href="/specialty-pizzas?name=Dessert+Pizza&price=7.5">Dessert Pizza</a></li>
  </ul>
  <h2>Custom Pizza</h2>
  <a href="/pizza-builder">Build your own!</a>
  <h2>Leave a Review</h2>
  <a href="/review">Click here to leave a review.</a><br>
  <img src="/bckfwd-vc7DjXSry7g-unsplash.jpg" class="pineapplePizza" alt="">


</body>
</html>