<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Builder</title>
</head>
<body>
  <form action="/pizza-builder-submission" method="GET">
  <h1>Build Your Own Pizza</h1>
  <label for="size">Size</label>
  <select name="size" id="size">
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select>
  <label for="toppingCount">Number of Toppings?</label>
  <input type="number" id="toppingCount" name="toppingCount">
  <ul>
    {{#each toppings}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <input type="checkbox" id="glutenFree" name="glutenFree">
  <label for="glutenFree">Gluten Free Crust? ($2.00 extra)</label>
  <label for="specialInstructions">Special Instructions (Optional)</label>
  <input type="text" id="specialInstructions">
  <button type="submit">Calculate Price</button>
  </form>
</body>
</html>