<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review Submission</title>
</head>
<body>
  <h1>Thanks for the review!</h1>
  <p>Your name: {{review.name}}</p>
  <p>Comment: {{review.comment}}</p>
  <p>Rating: {{review.rating}}</p>

  <a href="/">Back to Homepage</a>
</body>
</html>